
.icon-savefacebook-circled:before { content: '\e800'; } /* '' */
.icon-saveskype:before { content: '\e801'; } /* '' */
.icon-savemobile:before { content: '\e802'; } /* '' */
.icon-savefile-pdf:before { content: '\e803'; } /* '' */
.icon-saveflag-empty:before { content: '\e804'; } /* '' */
.icon-saveangle-double-up:before { content: '\e805'; } /* '' */
.icon-savemobile-1:before { content: '\e806'; } /* '' */
.icon-savefloppy:before { content: '\e807'; } /* '' */
.icon-savefacebook-squared:before { content: '\e808'; } /* '' */
.icon-savemale:before { content: '\e809'; } /* '' */
.icon-savecamera:before { content: '\e80a'; } /* '' */
.icon-savehome:before { content: '\e80b'; } /* '' */
.icon-savevcard:before { content: '\e80c'; } /* '' */
.icon-savefacebook:before { content: '\e80d'; } /* '' */
.icon-savelinkedin:before { content: '\e80e'; } /* '' */
.icon-savecontacts:before { content: '\e80f'; } /* '' */
.icon-saveskype-outline:before { content: '\e810'; } /* '' */
.icon-savelinkedin-circled:before { content: '\e811'; } /* '' */
.icon-savefacebook-circled-1:before { content: '\e812'; } /* '' */
.icon-savelogo-symbol-bw:before { content: '\e813'; } /* '' */